span {
        background-color: black;
}

svg {
        background-color: black;
}

svg rect {
            fill: gray;
            stroke: blue;
            stroke-width: 10px;
            stroke-opacity: 0.5;
            fill-opacity: 0.5;
}

svg circle {
                fill: gray;
                stroke: blue;
                stroke-width: 10px;
                stroke-opacity: 0.5;
}

svg ellipse {
                fill: gray;
                stroke: blue;
                stroke-width: 10px;
                stroke-opacity: 0.5;
                fill-opacity: 0.5;
}

svg line {
            stroke: blue;
            stroke-width: 10px;
}

svg polyline {
                stroke: blue;
                stroke-width: 10px;
}

svg text {
            fill: blue;
}

.navegacao {
                background-color: black;
                text-align: right;
}

.foto-perfil {
                text-align: center;
}

div {
        background: black;
        color: white;
        padding: 5px;
}

.biografia {
                background-color: gray;
                color: white;
                text-align: center;
}

.container01 {
                text-align: center;
}

.container02 {
                text-align: center;
}

.container03 {
                text-align: center;
}

.form {
        background-color: gray;
        color: black;
}

.footer {
                background-color: black;
                color: white;
}


